.icon {
  position: fixed;
  bottom: 10px;
  left: 20px;
}
.footer {
  width: 100%;
  margin-top: 10px;
  background: url('/space.jpg') no-repeat;
  background-size: cover;
  padding: 20px 0;
}
.logo {
  margin-left: 50px;
  text-align: center;
}
.h3 {
  color: white;
  font-family: sans-serif;
  margin-bottom: 30px;
}
.buttom  {
  padding: 10px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid white;
  margin-top: 20px;
}
.descricao {
  margin-top: 60px;
  text-align: center;
  width: 100%;
}
.descricao p {
  margin: 0;
  color: white;
}
