.title {
  margin-top: 50px;
  padding: 50px 0;
  background: url('/water.jpg')no-repeat;
  background-size: cover;
}
.subtitle {
  text-align: center;
  color: white;
  padding-bottom: 10px;
  font-weight: 700;
}
.buttom {
  text-align: center;
  background-color: aqua;
  cursor: pointer;
}
.small a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.box {
  margin:0 10px;
  flex-wrap: wrap;
  border: 0;
}