.title {
  margin-top: 50px;
  padding: 40px 0;
  background-color: #151a36;
}
.subtitle {
  text-align: center;
  color: white;
  padding: 20px;
  font-weight: 700;
}
.buttom {
  text-align: center;
  border-top: 1px solid #666666;
  background-color: white;
  cursor: pointer;
}
.small a {
  text-decoration: none;
  color: #666666;
  font-weight: 800;
}
.box {
  text-align: justify;
  margin:0 10px;
  flex-wrap: wrap;
  border: 0;
}
.boxtitle {
  text-align: center;
}